@font-face{
    font-family: myFont;
    src:url("D:\LittleLordFontleroyNF.ttf");
}
body{
    background-color: navy;
    color:white;
}
h1{
    font-family:myFont;
    text-align: center;
}
h2{
    font-family:myFont;
    text-align: center;
}
h3{
    font-family:myFont;
    text-align: center;
}
h4{
    font-family:myFont;
    text-align: center;
}
h5{
    font-family:myFont;
    text-align: center;
}
h6{
    font-family:myFont;
    text-align: center;
}